/*:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  */
  .my-body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #242424;
  }
  
  .h1-2 {
    font-size: 4em;
    color: #ffffff;
  }
  
  
  /*button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  */
  .add-button {
    background-color: hsl(0, 0%, 1%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  .add-button:hover {
    background-color: hsl(125, 47%, 44%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  .delete-button {
    background-color: hsl(0, 94%, 50%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  .delete-button:hover {
    background-color: hsl(125, 47%, 44%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  .move-button {
    background-color: hsl(305, 86%, 43%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  .move-button:hover {
    background-color: hsl(125, 47%, 44%);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  } /*
  input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsl(0, 0%, 0%, 0.5);
  }*/
  ol{
    padding: 0;
  }
  li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .text{
    flex: 1;
  }
  .delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
  }
  
  
  
  
  button:hover {
    border-color: #646cff;
  }/*
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  /*
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }*/